@charset "utf-8";
/* CSS Document */
*{ padding:0px; margin:0px;}
.center{ width:70%; height:1500px; margin:auto auto;  margin-top:10px;}
.center .content{ width:100%; height:500px;}
.th_theam{ width:20%; height:40px; border-left:2px solid #999; border-right:2px solid #999; text-align:center;}
.th_theam p{ color:#0C3; font-family:"华文行楷"; font-size:40px; line-height:100%;}
.th_img{ width:50%; height:300px; margin: auto auto; text-align:center;}
.th_img img{ width:90%; height:100%;}
.th_cot{ width:75%; height:90px; margin-top:20px; margin: auto auto;}
.th_cot p{ color:#666; font-family:"微软雅黑"; margin-top:5px;}
.th_foot{ width:70%; height:40px; margin: auto auto; margin-top:5px;}
.th_foot img{ width:100%; height:100%;}